<!--
  Copyright (c) 2024 Eclipse Foundation, Inc.

  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.

  Contributors:
    Christopher Guindon <chris.guindon@eclipse-foundation.org>

  SPDX-License-Identifier: EPL-2.0
-->

<section class="container margin-top-40 margin-bottom-40">
  <h2>Funding organisations</h2>
  <p>The Eclipse Foundation has been a partner in many publicly funded research projects since 2013. We help organisations to successfully create, publish, and sustain an open source software platform, making the results of the research projects available for commercial or public exploitation.</p>
  <div class="row">
  	<div class="col-md-6 padding-bottom-20" >
        <a href="https://ec.europa.eu/info/funding-tenders/opportunities/portal/screen/how-to-participate/org-details/944758564"  target="_blank">
        	<img src="images/funding/horizon-eu.png" class="img-responsive" alt="Horizon Europe logo" style="height:150px;"/>
        </a>
  	</div>
  	<div class="col-md-6 padding-bottom-20">
        <a href="https://itea4.org/organisation/11146-eclipse-foundation-europe-gmbh.html"  target="_blank">
        	<img src="images/funding/itea4.png" class="img-responsive" style="height:150px;"/>
        </a>
  	</div>
  	<div class="col-md-6 padding-bottom-20">
        <a href="https://www.chips-ju.europa.eu/"  target="_blank">
        	<img src="images/funding/chips-ju.png" class="img-responsive" style="height:150px;"/>
        </a>
  	</div>
  	<div class="col-md-6 padding-bottom-20">
        <img src="images/funding/bmbf.png" class="img-responsive" style="height:150px;"/>
  	</div>
  </div>
</section>