<!-- Eclipse professional services -->
<div class="container">
  <div class="row">
    <div class="col-sm-18">
      <h1>Eclipse Professional Services</h1>
      <p class="big text-primary">
        Enhance Your Open Source Capabilities with the Eclipse Foundation
      </p>
      <p>
        We recognise the growing need to maximise the potential of open source
        within organisations. To support this, we offer a comprehensive suite
        of strategic open source services designed to empower our members and
        ensure their success in open source projects and industry
        collaborations.
      </p>
      <h2 id="approach">Our Tailored Approach</h2>
      <p>
        Each organisation has unique needs. Our enhanced services are crafted
        to foster a holistic and effective open source mindset, preparing your
        team to collaborate seamlessly with peers in the open source community.
      </p>
    </div>
  </div>
</div>

<!-- Benefits of our professional services -->
<div class="container">
  <div class="row text-center margin-top-30 margin-bottom-60">
    <h2 class="col-xs-24 margin-bottom-30" id="benefits">Benefits of Our Professional Services</h2>
    <!-- Awareness tile -->
    <div class="col-sm-6 bg-primary-light text-black match-height-item-by-row">
      <div class="padding-x-20 padding-y-60">
        <img class="img-responsive margin-x-auto margin-bottom-30" src="./images/awareness.png" alt="" width="100">
        <h3 class="h4 fw-500">Increase Open Source Awareness</h3>
        <p>
          Foster a culture of open source within your organisation, ensuring all
          stakeholders understand its importance and benefits.
        </p>
      </div>
    </div>
    <!-- Challenges tile -->
    <div class="col-sm-6 bg-neutral-flat-dark text-black match-height-item-by-row">
      <div class="padding-x-20 padding-y-60">
        <img class="img-responsive margin-x-auto margin-bottom-30" src="./images/challenges.png" alt="" width="100">
        <h3 class="h4 fw-500">Solve Open Source Challenges</h3>
        <p>
          Efficiently address issues related to IP, licences, trademarks,
          compliance, Software Bill of Materials (SBOM) and supply-chain
          security, preventing roadblocks in your projects.
        </p>
      </div>
    </div>
    <!-- Framework tile -->
    <div class="col-sm-6 bg-neutral-flat-dark-darker text-black match-height-item-by-row">
      <div class="padding-x-20 padding-y-60">
        <img class="img-responsive margin-x-auto margin-bottom-30" src="./images/framework.png" alt="" width="100">
        <h3 class="h4 fw-500">Define a Strong Open Source Framework</h3>
        <p>
          Tailor a comprehensive and robust framework for open source adoption
          tailored to your organisation's unique needs.
        </p>
      </div>
    </div>
    <!-- Efficiency tile -->
    <div class="col-sm-6 bg-neutral-flat text-black match-height-item-by-row">
      <div class="padding-x-20 padding-y-60">
        <img class="img-responsive margin-x-auto margin-bottom-30" src="./images/efficiency.png" alt="" width="100">
        <h3 class="h4 fw-500">Enhance Open Source Efficiency</h3>
        <p>
          Maximise the efficiency of your open source projects by implementing
          best practices and streamlined workflows.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Our service offerings -->
<div class="row dark padding-y-60 bg-secondary fs-lg">
  <div class="container">
    <h2 class="fs-2 fw-300 text-center margin-bottom-30" id="our-service-offerings">Our Service Offerings</h2>
    <ul class="li-margin-bottom-20 list-unstyled">
      <li>
        <strong class="text-primary-light">
          Bootstrap an Open Source/Inner Source Approach:
        </strong>
        We provide hands-on support to kickstart your journey whether you're
        new to open source or enhancing your internal open source initiatives.
        Our experts will guide you in adopting the right approach to foster
        collaboration and innovation and define a governance framework that
        aligns with your organisation's values and goals.
      </li>
      <li>
        <strong class="text-primary-light">
          Setup and run an Open Source Program Office (OSPO):
        </strong>
        As the cornerstone of your governance, we will help you build and run
        your OSPO successfully, ensuring the smooth functioning of your open
        source initiatives and best practices.
      </li>
      <li>
        <strong class="text-primary-light">
          Fast Track to Eclipse Onboarding:
        </strong>
         Considering moving a project under the umbrella of the Eclipse
         Foundation or starting a Working Group? We offer streamlined
         onboarding and practical guidance to help you quickly integrate into
         the Eclipse community and leverage its resources.
      </li>
      <li>
        <strong class="text-primary-light">
          Training Sessions:
        </strong>
        Empower your team with practical knowledge through our training
        courses. From basic open source understanding to effectively engaging
        with the Eclipse community, our courses will enable your team to
        succeed in open source practices.
      </li>
    </ul>
    <p>
      These professional services are offered on an on-demand basis and are
      separate from the core services included in your Eclipse Foundation
      membership. For more information on the key services provided to the
      Eclipse community, please review our 
      <a class="light-link blue" href="/org/services/">Services</a> <!-- todo fix -->.
    </p>
  </div>
</div>

<div class="row what-our-members-say-section text-black fw-500">
  <div class="what-our-members-say-section-bg"></div>
  <div class="container">
    <div class="row">
    <h2 class="text-center margin-y-40" id="what-our-members-say">What Our Members Say</h2>
    <div class="quote-tiles">
      <div class="quote-tile col-xs-24 col-sm-10 col-sm-offset-7 bg-neutral-flat padding-x-60 padding-bottom-30">
        <img class="img-responsive quote-icon margin-x-auto" src="./images/quote-icon.png" alt="">
        <p>
          In 2016, Thales Group initiated a pioneering move within the industry
          by implementing a group-wide Inner Source Program, guided by an Inner
          Source Program Office (ISPO) framework. Consequently, we sought the
          expertise of the Eclipse Foundation to kickstart our program. Our
          collaboration has been a real game changer: in a matter of months, we
          established foundational governance principles through a charter
          inspired by Eclipse Foundation’s best practices. This strategic
          partnership not only expedited the maturation of our InnerSource
          Program but also enhanced it through the expertise of their consultants.
        </p>
        <p class="fw-400 fst-italic margin-top-20">
          &mdash; Marius <span class="uppercase">MOULIS</span>, Thales Group
        </p>
      </div>
      <div class="quote-tile col-xs-24 col-sm-10 col-sm-offset-7 bg-neutral-flat-dark padding-x-60 padding-y-40">
        <p>
          The Eclipse Foundation lecture gave me a better understanding of the
          challenges linked to open source, its values and its importance for
          the future. I realised how open collaboration and knowledge sharing
          can drive innovation and create a brighter future for everyone. This
          experience has strengthened my belief in the fundamental role of open
          source in our future.
        </p>
        <p class="fw-400 fst-italic margin-top-20">
          &mdash; Mikael Pecyna, University of Poitiers (France)
        </p>
      </div>
      <div class="quote-tile col-xs-24 col-sm-10 col-sm-offset-7 bg-primary-light padding-x-60 padding-y-40">
        <p>
          The Eclipse Foundation delivered an exciting lecture on open source
          software fundamentals, best practices, licences and business models.
          The talk was attended by many faculty members, PhD and postgraduate
          students, including members of the newly founded open source
          community at the University of Macedonia. The presentation sparked
          lively discussions, eventually highlighting the multiple ways open
          source can be considered within a tertiary education institute. Their
          ability to convey the benefits of going open source and stimulating
          positive reactions from researchers is unprecedented. We are grateful
          to the Eclipse Foundation for their strong involvement.
        </p>
        <p class="fw-400 fst-italic margin-top-20">
          &mdash; Alexander Chatzigeorgiou, Professor at the University of
          Macedonia (Greece)
        </p>
      </div>
      <img class="col-xs-24 visible-xs img-responsive padding-0" src="/public/images/bg-what-our-members-say.jpg" alt="">
    </div>
    </div>
  </div>
</div>

<div class="row bg-neutral-flat-dark padding-y-60">
  <div class="container">
    <div class="col-sm-16 col-sm-offset-4">
      <img class="img-responsive margin-x-auto margin-bottom-30" src="./images/contact.png" alt="" width="100">
      <h2 class="text-center margin-bottom-30" id="contact-us">Contact Us</h2>
      <p>
        Contact us today at <a href="mailto:services@eclipse-foundation.org">services@eclipse-foundation.org</a> 
        to discuss your requirements and explore how our service can be tailored to
        your organisation's needs, ensuring a pragmatic and effective journey
        towards open source mastery.
      </p>
    </div>
  </div>
</div>
