/*!
 * Copyright (c) 2024 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
*/

.security-page {
  // Change link colours to brand-primary-light for dark sections.
  .dark a {
    &,
    &:focus,
    &:hover,
    &:active {
      color: @brand-primary-light;
    }
  }

  // Event timeline
  .events-feed-list {
    .events-list {
      overflow-y: auto;
    }

    .timeline-item {
      outline-offset: 1rem;

      &:focus,
      &:hover,
      &:active {
        .event-title {
          transition: color 0.2s ease-in-out;
          color: @brand-primary;
        }

        &::before {
          background-color: @brand-primary;
          transition: background-color 0.2s ease-in-out;
        }
      }
    }
  }

  // Security Jumbotron
  .featured-jumbotron {
    position: relative;
    background-color: @black;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      max-width: 40%;
      background-image: url('../images/security/security-jumbotron.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position-y: 15%;
    }
  }

  // Customize the newsroom resources for the security page.
  .newsroom-resources {
    .newsroom-resource-item-container {
      justify-content: flex-end;
    }
    .newsroom-resource-item-container {
      gap: 1rem;
    }
    .newsroom-resource-item {
      width: 17.5rem;
    }
    .newsroom-resource-item-image {
      height: unset;
    }
  }
  
  .view-all-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 16.4rem;
    min-height: 3.7rem;
  }

  // Video List
  .eclipsefdn-video-list .video-details-title {
    font-weight: 400;
  }

  .security-contact {
    position: relative;
    width: 100%;

    &-bg {
      width: 100%;
    }

    &-content {
      position: absolute;
      top: 1rem;
      left: 5rem;
      width: calc(100% - 5rem - 5rem);
      height: calc(100% - 1rem - 3.5rem); // Remove the top offset plus the offset from the bottom of the laptop.
    }

    &-email-icon {
      display: block;
      margin: auto;
      margin-top: 2rem;
      width: 30%;
    }

    &-text {
      text-align: center;
    }
  }

  .related-list {
    .list-inline;

    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 0;

    @media (min-width: @screen-sm-min) {
      gap: 8rem;
    }

    // Override list-inline padding
    li {
      padding: unset;
    }

    // @todo: same border animation as weighted-collaborations. Perhaps extract a
    // utility class for it.
    .related-item {
      display: block;
      width: 100%;
      height: 100%;
      padding: 2rem;
      border: 3px solid transparent;
      text-align: center;
      background-color: #ececec;

      img {
        width: 100%;
        height: 100%;
        max-width: 20rem;
        max-height: 12rem;
        margin: auto;
        margin-bottom: 2rem;
        object-fit: contain;
      }

      &:hover {
        border-color: @brand-primary-light;
        transition: border-color 0.2s ease-in;
      }
    }

    & > li {
      width: 100%;
    }
  }

  .sharp-card {
    text-align: center;

    @media (min-width: @screen-sm-min) {
      text-align: left;
    }
  }

  .known-vulnerabilities-and-advisories-section .sharp-card img {
    margin-bottom: 2rem;

    @media (min-width: @screen-sm-min) {
      margin-bottom: unset;
    }
  }
}

// Security Resources page
.security-resources-page {
  .resources-summary {
    height: 50rem;
    overflow: hidden;
  }

  .resources-summary-img {
    min-height: 80%;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
}

