{{#events.length}}
<div class="timeline timeline-vertical timeline-opposite min-h-100">
  {{#events}}
    <a class="timeline-item link-unstyled" href="{{infoLink}}">
      <p class="event-title"><strong>{{title}}</strong></p>
      <p>
        {{date}}
      </p>
    </a>
  {{/events}}
</div>
{{/events.length}}
{{^events.length}}
  <p class="margin-0">No events at this time. Please check again later!</p>
{{/events.length}}
