<div class="feed-list-items">
  {{#news.length}}
    {{#news}}
      <a class="feed-item news-item-card link-unstyled" href="{{link}}">
        <div class="news-item-card-title">
          {{title}}      
        </div>
        <div class="news-item-card-date">
          {{date}}
        </div>
        <div class="news-item-card-body">
          {{body}}
        </div>
      </a>
    {{/news}}
  {{/news.length}}
  {{^news.length}}
    <div class="feed-item news-item-card">
      <p class="margin-0">No news at this time. Please check again later!</p>
    </div>
  {{/news.length}}
</div>
