/*!
 * Copyright (c) 2024 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

.split {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .split-col {
    width: 100%;
  }

  @media (min-width: @screen-md-min) {
    flex-direction: row;

    &.split-reverse {
      flex-direction: row-reverse;

      .split-content {
        margin-left: auto;
      }
    }
  }

  @media (min-width: @screen-lg-min) {
    .split-content {
      max-width: calc(@container-lg / 2); 
    }
  }
}

