{{/*
  Copyright (c) 2024 Eclipse Foundation, Inc.
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.
  Contributors:
    Olivier Goulet <olivier.goulet@eclipse-foundation.org>

  SPDX-License-Identifier: EPL-2.0
*/}}

{{ $reverse := .Get "reverse" | default false }}
{{ $image_class := .Get "image_class" | default "bg-primary" }}
{{ $content_class := .Get "content_class" | default "padding-60" }}
{{ $is_markdown := .Get "is_markdown" | default true }}

<section class="split row {{ if $reverse }}split-reverse{{ end }}"> 
  <div class="split-col {{ $image_class }}"> 
  </div>
  <div class="split-col">
    <div class="split-content {{ $content_class }}">
      {{ if or (not $is_markdown) (eq $is_markdown "false") }}
        {{ .Inner }}
      {{ else }}
        {{ .Inner | markdownify }}
      {{ end }}
    </div>
  </div>
</section>
