/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Christopher Guindon <chris.guindon@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

.sponsor-collaboration {
  margin:1rem 0 3rem 0;
  background: url('../../images/sponsor/collaboration/background.jpg');
  background-size: cover;
  .col-md-6{
    color: #000;
    h2{
      font-size:20px;
      font-weight: bold;
      padding:3rem;
      text-align: center;
    }
    p{
      padding:1rem 5rem 8rem 5rem;
      font-size: 1.7rem;
    }
  }
  .col-md-6:nth-child(1) {
    background-color:#f89d35;
  }
  .col-md-6:nth-child(2){
    background-color:#d0cfce;
  }
}