/*!
 * Copyright (c) 2023 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.card {
  width: 100%;
  box-shadow: 0px 0px 10px darken(@white, 10%);
  text-align: center;
}

.card.topic-card {
  padding: 4rem;

  @media (min-width: @screen-md-min) {
    width: 28rem;
  }

  .topic-card-logo {
    max-width: 26rem;
    height: 8rem;
    margin-bottom: 4rem;

    img {
      height: 100%;
      margin: auto;
      object-fit: contain;
    }
  }
}

// News Cards 
.news-cards .news-item-card {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 2rem;
  background-color: @white;

  &:hover {
    background-color: darken(@white, 1%);
  }

  .news-item-card-title {
    font-weight: bold;
  }

  .news-item-card-date {
    margin: 1rem 0;
    color: @brand-primary;
    font-weight: bold;
  }
}

.news-cards {
  & .news-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  @media (min-width: @screen-sm-min) {
    &-horizontal .news-container {
      flex-direction: row;
    }
  }

  @media (min-width: @screen-lg-min) {
    &-horizontal .news-item-card {
      width: 30%;
    }
  }

  &-gapped {
    .news-container {
      justify-content: space-evenly;
    }

    // Place shadow on individual cards
    .news-item-card {
      box-shadow: 0px 0px 12px #00000044;
    }
  }
}

// Used on homepage. The horizontal news items will show a gradient instead of a
// scrollbar to hide content that does not fit.
.feed-list-horizontal .news-item-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 80%, rgba(255,255,255,0.9) 95%, rgba(255,255,255,1) 100%);
}

.news-section-action {

  @media (min-width: @screen-sm-min) {
    // Since it is vertical, we do not scale with news item height.
    min-height: min-content;
  }

  &-img-wrapper {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-horizontal {
    @media (min-width: @screen-sm-min) {
      width: 50%;
      // Scale height with news items by unsetting min-height.
      min-height: unset;
    }

    @media (min-width: @screen-md-min) {
      width: 30%;
    }
  }
}

.news-section-action-links {
    position: absolute;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 0.75rem;

    // Reset btn-block and btn-group's adjacent btn styles
    .btn-block,
    .btn + .btn {
        margin-top: 0;
        margin-left: unset;
    }

    .btn-block {
        width: 16rem;
    }

    @media (min-width: @screen-sm-min) {
        position: relative;
        bottom: unset;
        gap: unset;
        flex-direction: row;

        .btn-block {
            width: 100%;
        }
    }
}


//== Staff page cards
.staff-card {
  img {
    width: 100%;
    object-position: top center;
  }
}

.leadership-cards {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @media (min-width: @screen-sm-min) {
    flex-direction: row;

    & > *:first-child {
      flex-basis: calc(25% - 1.5rem);
    }

    & > *:last-child {
      flex-basis: 75%;
    }
  }
}

.executive-director-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: calc(100% - 20px);

  img {
    min-height: 81%;
    object-position: bottom center;
  }
}

// Security page cards 
.sharp-card {
  border: 1px solid #eee;
}

.sharp-card.sharp-card-carrot-orange {
  border-color: #F5872C;
  background-color: #F5872C;
  box-shadow: 0 0 5px #00000011;

  a {
    &,
    &:focus,
    &:hover,
    &:active {
      color: white;
      text-decoration: underline;
    }
  }
}

