/*!
 * Copyright (c) 2024 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * Contributors:
 *   Olivier Goulet <olivier.goulet@eclipse-foundation.org>
 *
 * SPDX-License-Identifier: EPL-2.0
*/

// Featured Tab
.nav-tabs .featured-tab a {
  &,
  &:focus {
    color: @white;
    background-color: @black;
  }

  &:hover {
    color: @white;
    background-color: @brand-primary;
  }
}

//== Alternate Tab Controls
// Controls placed at the bottom of tab-content to navigate left or
// right.
.alternate-tab-controls {
  position: relative;
  margin-top: 6rem;

  // The center control. Typically a button.
  &-center {
    margin: 0 auto;
  }

  // The right control. Typically navigation to the next page.
  &-right {
    position: absolute;
    right: 0;
  }

  // The left control. Typically navigation to the previous page.
  &-left {
    position: absolute;
    left: 0;
  }
}

